.divi-100-article-card .et_pb_blog_grid .article-card__category,
		.divi-100-article-card .et_pb_blog_grid .article-card__date {
			background-color: #2b91dc;
		}
		.divi-100-article-card .et_pb_blog_grid .article-card__sub-title {
			color: #2b91dc;
		}

		body,
		.et_pb_column_1_2 .et_quote_content blockquote cite,
		.et_pb_column_1_2 .et_link_content a.et_link_main_url,
		.et_pb_column_1_3 .et_quote_content blockquote cite,
		.et_pb_column_3_8 .et_quote_content blockquote cite,
		.et_pb_column_1_4 .et_quote_content blockquote cite,
		.et_pb_blog_grid .et_quote_content blockquote cite,
		.et_pb_column_1_3 .et_link_content a.et_link_main_url,
		.et_pb_column_3_8 .et_link_content a.et_link_main_url,
		.et_pb_column_1_4 .et_link_content a.et_link_main_url,
		.et_pb_blog_grid .et_link_content a.et_link_main_url,
		body .et_pb_bg_layout_light .et_pb_post p,
		body .et_pb_bg_layout_dark .et_pb_post p {
			font-size: 20px
		}
		.et_pb_slide_content,
		.et_pb_best_value {
			font-size: 22px
		}
		.woocommerce #respond input#submit,
		.woocommerce-page #respond input#submit,
		.woocommerce #content input.button,
		.woocommerce-page #content input.button,
		.woocommerce-message,
		.woocommerce-error,
		.woocommerce-info {
			background: #fcc012 !important
		}
		#et_search_icon:hover,
		.mobile_menu_bar:before,
		.mobile_menu_bar:after,
		.et_toggle_slide_menu:after,
		.et-social-icon a:hover,
		.et_pb_sum,
		.et_pb_pricing li a,
		.et_pb_pricing_table_button,
		.et_overlay:before,
		.entry-summary p.price ins,
		.woocommerce div.product span.price,
		.woocommerce-page div.product span.price,
		.woocommerce #content div.product span.price,
		.woocommerce-page #content div.product span.price,
		.woocommerce div.product p.price,
		.woocommerce-page div.product p.price,
		.woocommerce #content div.product p.price,
		.woocommerce-page #content div.product p.price,
		.et_pb_member_social_links a:hover,
		.woocommerce .star-rating span:before,
		.woocommerce-page .star-rating span:before,
		.et_pb_widget li a:hover,
		.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
		.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
		.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
		.wp-pagenavi span.current,
		.wp-pagenavi a:hover,
		.nav-single a,
		.posted_in a {
			color: #fcc012
		}
		.et_pb_contact_submit,
		.et_password_protected_form .et_submit_button,
		.et_pb_bg_layout_light .et_pb_newsletter_button,
		.comment-reply-link,
		.form-submit .et_pb_button,
		.et_pb_bg_layout_light .et_pb_promo_button,
		.et_pb_bg_layout_light .et_pb_more_button,
		.woocommerce a.button.alt,
		.woocommerce-page a.button.alt,
		.woocommerce button.button.alt,
		.woocommerce-page button.button.alt,
		.woocommerce input.button.alt,
		.woocommerce-page input.button.alt,
		.woocommerce #respond input#submit.alt,
		.woocommerce-page #respond input#submit.alt,
		.woocommerce #content input.button.alt,
		.woocommerce-page #content input.button.alt,
		.woocommerce a.button,
		.woocommerce-page a.button,
		.woocommerce button.button,
		.woocommerce-page button.button,
		.woocommerce input.button,
		.woocommerce-page input.button,
		.et_pb_contact p input[type="checkbox"]:checked+label i:before,
		.et_pb_bg_layout_light.et_pb_module.et_pb_button {
			color: #fcc012
		}
		.footer-widget h4 {
			color: #fcc012
		}
		.et-search-form,
		.nav li ul,
		.et_mobile_menu,
		.footer-widget li:before,
		.et_pb_pricing li:before,
		blockquote {
			border-color: #fcc012
		}
		.et_pb_counter_amount,
		.et_pb_featured_table .et_pb_pricing_heading,
		.et_quote_content,
		.et_link_content,
		.et_audio_content,
		.et_pb_post_slider.et_pb_bg_layout_dark,
		.et_slide_in_menu_container,
		.et_pb_contact p input[type="radio"]:checked+label i:before {
			background-color: #fcc012
		}
		.container,
		.et_pb_row,
		.et_pb_slider .et_pb_container,
		.et_pb_fullwidth_section .et_pb_title_container,
		.et_pb_fullwidth_section .et_pb_title_featured_container,
		.et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
			max-width: 1200px
		}
		.et_boxed_layout #page-container,
		.et_fixed_nav.et_boxed_layout #page-container #top-header,
		.et_fixed_nav.et_boxed_layout #page-container #main-header,
		.et_boxed_layout #page-container .container,
		.et_boxed_layout #page-container .et_pb_row {
			max-width: 1360px
		}
		a {
			color: #fcc012
		}
		#main-header,
		#main-header .nav li ul,
		.et-search-form,
		#main-header .et_mobile_menu {
			background-color: rgba(38, 53, 68, 0.99)
		}
		#top-header,
		#et-secondary-nav li ul {
			background-color: #148cf2
		}
		.et_header_style_centered .mobile_nav .select_page,
		.et_header_style_split .mobile_nav .select_page,
		.et_nav_text_color_light #top-menu>li>a,
		.et_nav_text_color_dark #top-menu>li>a,
		#top-menu a,
		.et_mobile_menu li a,
		.et_nav_text_color_light .et_mobile_menu li a,
		.et_nav_text_color_dark .et_mobile_menu li a,
		#et_search_icon:before,
		.et_search_form_container input,
		span.et_close_search_field:after,
		#et-top-navigation .et-cart-info {
			color: rgba(255, 255, 255, 0.6)
		}
		.et_search_form_container input::-moz-placeholder {
			color: rgba(255, 255, 255, 0.6)
		}
		.et_search_form_container input::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.6)
		}
		.et_search_form_container input:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.6)
		}
		#top-header,
		#top-header a,
		#et-secondary-nav li li a,
		#top-header .et-social-icon a:before {
			font-size: 15px;
			font-weight: bold;
			font-style: normal;
			text-transform: none;
			text-decoration: none
		}
		#top-menu li a {
			font-size: 15px
		}
		body.et_vertical_nav .container.et_search_form_container .et-search-form input {
			font-size: 15px !important
		}
		#top-menu li a,
		.et_search_form_container input {
			letter-spacing: 1px
		}
		.et_search_form_container input::-moz-placeholder {
			letter-spacing: 1px
		}
		.et_search_form_container input::-webkit-input-placeholder {
			letter-spacing: 1px
		}
		.et_search_form_container input:-ms-input-placeholder {
			letter-spacing: 1px
		}
		#top-menu li.current-menu-ancestor>a,
		#top-menu li.current-menu-item>a,
		.et_color_scheme_red #top-menu li.current-menu-ancestor>a,
		.et_color_scheme_red #top-menu li.current-menu-item>a,
		.et_color_scheme_pink #top-menu li.current-menu-ancestor>a,
		.et_color_scheme_pink #top-menu li.current-menu-item>a,
		.et_color_scheme_orange #top-menu li.current-menu-ancestor>a,
		.et_color_scheme_orange #top-menu li.current-menu-item>a,
		.et_color_scheme_green #top-menu li.current-menu-ancestor>a,
		.et_color_scheme_green #top-menu li.current-menu-item>a {
			color: #ffffff
		}
		#footer-widgets .footer-widget a,
		#footer-widgets .footer-widget li a,
		#footer-widgets .footer-widget li a:hover {
			color: #ffffff
		}
		.footer-widget {
			color: #ffffff
		}
		#main-footer .footer-widget h4 {
			color: #fcc012
		}
		.footer-widget li:before {
			border-color: #fcc012
		}
		#footer-widgets .footer-widget li:before {
			top: 14px
		}
		#main-header {
			box-shadow: none
		}
		body .et_pb_button,
		.woocommerce a.button.alt,
		.woocommerce-page a.button.alt,
		.woocommerce button.button.alt,
		.woocommerce-page button.button.alt,
		.woocommerce input.button.alt,
		.woocommerce-page input.button.alt,
		.woocommerce #respond input#submit.alt,
		.woocommerce-page #respond input#submit.alt,
		.woocommerce #content input.button.alt,
		.woocommerce-page #content input.button.alt,
		.woocommerce a.button,
		.woocommerce-page a.button,
		.woocommerce button.button,
		.woocommerce-page button.button,
		.woocommerce input.button,
		.woocommerce-page input.button,
		.woocommerce #respond input#submit,
		.woocommerce-page #respond input#submit,
		.woocommerce #content input.button,
		.woocommerce-page #content input.button,
		.woocommerce-message a.button.wc-forward {
			font-size: 18px;
			background: #148cf2;
			border-color: #148cf2;
			border-radius: 5px;
			font-weight: bold;
			font-style: normal;
			text-transform: none;
			text-decoration: none;
			;
			letter-spacing: 1px
		}
		body.et_pb_button_helper_class .et_pb_button,
		body.et_pb_button_helper_class .et_pb_module.et_pb_button,
		.woocommerce.et_pb_button_helper_class a.button.alt,
		.woocommerce-page.et_pb_button_helper_class a.button.alt,
		.woocommerce.et_pb_button_helper_class button.button.alt,
		.woocommerce-page.et_pb_button_helper_class button.button.alt,
		.woocommerce.et_pb_button_helper_class input.button.alt,
		.woocommerce-page.et_pb_button_helper_class input.button.alt,
		.woocommerce.et_pb_button_helper_class #respond input#submit.alt,
		.woocommerce-page.et_pb_button_helper_class #respond input#submit.alt,
		.woocommerce.et_pb_button_helper_class #content input.button.alt,
		.woocommerce-page.et_pb_button_helper_class #content input.button.alt,
		.woocommerce.et_pb_button_helper_class a.button,
		.woocommerce-page.et_pb_button_helper_class a.button,
		.woocommerce.et_pb_button_helper_class button.button,
		.woocommerce-page.et_pb_button_helper_class button.button,
		.woocommerce.et_pb_button_helper_class input.button,
		.woocommerce-page.et_pb_button_helper_class input.button,
		.woocommerce.et_pb_button_helper_class #respond input#submit,
		.woocommerce-page.et_pb_button_helper_class #respond input#submit,
		.woocommerce.et_pb_button_helper_class #content input.button,
		.woocommerce-page.et_pb_button_helper_class #content input.button {
			color: #f1f1f1
		}
		body .et_pb_button:after,
		.woocommerce a.button.alt:after,
		.woocommerce-page a.button.alt:after,
		.woocommerce button.button.alt:after,
		.woocommerce-page button.button.alt:after,
		.woocommerce input.button.alt:after,
		.woocommerce-page input.button.alt:after,
		.woocommerce #respond input#submit.alt:after,
		.woocommerce-page #respond input#submit.alt:after,
		.woocommerce #content input.button.alt:after,
		.woocommerce-page #content input.button.alt:after,
		.woocommerce a.button:after,
		.woocommerce-page a.button:after,
		.woocommerce button.button:after,
		.woocommerce-page button.button:after,
		.woocommerce input.button:after,
		.woocommerce-page input.button:after,
		.woocommerce #respond input#submit:after,
		.woocommerce-page #respond input#submit:after,
		.woocommerce #content input.button:after,
		.woocommerce-page #content input.button:after {
			content: '$';
			font-size: 18px
		}
		body .et_pb_button:hover,
		.woocommerce a.button.alt:hover,
		.woocommerce-page a.button.alt:hover,
		.woocommerce button.button.alt:hover,
		.woocommerce-page button.button.alt:hover,
		.woocommerce input.button.alt:hover,
		.woocommerce-page input.button.alt:hover,
		.woocommerce #respond input#submit.alt:hover,
		.woocommerce-page #respond input#submit.alt:hover,
		.woocommerce #content input.button.alt:hover,
		.woocommerce-page #content input.button.alt:hover,
		.woocommerce a.button:hover,
		.woocommerce-page a.button:hover,
		.woocommerce button.button:hover,
		.woocommerce-page button.button:hover,
		.woocommerce input.button:hover,
		.woocommerce-page input.button:hover,
		.woocommerce #respond input#submit:hover,
		.woocommerce-page #respond input#submit:hover,
		.woocommerce #content input.button:hover,
		.woocommerce-page #content input.button:hover {
			background: rgba(20, 140, 242, 0.9) !important;
			border-color:  !important;
			border-radius: 5px;
			letter-spacing: 2px
		}
		@media only screen and (min-width:981px) {
			#logo {
				max-height: 60%
			}
			.et_pb_svg_logo #logo {
				height: 60%
			}
			.et_header_style_left .et-fixed-header #et-top-navigation,
			.et_header_style_split .et-fixed-header #et-top-navigation {
				padding: 25px 0 0 0
			}
			.et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a,
			.et_header_style_split .et-fixed-header #et-top-navigation nav>ul>li>a {
				padding-bottom: 25px
			}
			.et_header_style_centered header#main-header.et-fixed-header .logo_container {
				height: 50px
			}
			.et_header_style_split .et-fixed-header .centered-inline-logo-wrap {
				width: 50px;
				margin: -50px 0
			}
			.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
				max-height: 50px
			}
			.et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
				height: 50px
			}
			.et_header_style_slide .et-fixed-header #et-top-navigation,
			.et_header_style_fullscreen .et-fixed-header #et-top-navigation {
				padding: 16px 0 16px 0 !important
			}
			.et-fixed-header#top-header,
			.et-fixed-header#top-header #et-secondary-nav li ul {
				background-color: #fcc012
			}
			.et-fixed-header#main-header,
			.et-fixed-header#main-header .nav li ul,
			.et-fixed-header .et-search-form {
				background-color: #263544
			}
			.et-fixed-header #top-menu a,
			.et-fixed-header #et_search_icon:before,
			.et-fixed-header #et_top_search .et-search-form input,
			.et-fixed-header .et_search_form_container input,
			.et-fixed-header .et_close_search_field:after,
			.et-fixed-header #et-top-navigation .et-cart-info {
				color: #ffffff !important
			}
			.et-fixed-header .et_search_form_container input::-moz-placeholder {
				color: #ffffff !important
			}
			.et-fixed-header .et_search_form_container input::-webkit-input-placeholder {
				color: #ffffff !important
			}
			.et-fixed-header .et_search_form_container input:-ms-input-placeholder {
				color: #ffffff !important
			}
			.et-fixed-header #top-menu li.current-menu-ancestor>a,
			.et-fixed-header #top-menu li.current-menu-item>a {
				color: #fcc012 !important
			}
		}
		@media only screen and (min-width:1500px) {
			.et_pb_row {
				padding: 30px 0
			}
			.et_pb_section {
				padding: 60px 0
			}
			.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
				padding-top: 90px
			}
			.et_pb_section.et_pb_section_first {
				padding-top: inherit
			}
			.et_pb_fullwidth_section {
				padding: 0
			}
		}
		@media only screen and (max-width:980px) {
			#main-header,
			#main-header .nav li ul,
			.et-search-form,
			#main-header .et_mobile_menu {
				background-color: #263544
			}
			.et_header_style_centered .mobile_nav .select_page,
			.et_header_style_split .mobile_nav .select_page,
			.et_mobile_menu li a,
			.mobile_menu_bar:before,
			.et_nav_text_color_light #top-menu>li>a,
			.et_nav_text_color_dark #top-menu>li>a,
			#top-menu a,
			.et_mobile_menu li a,
			#et_search_icon:before,
			#et_top_search .et-search-form input,
			.et_search_form_container input,
			#et-top-navigation .et-cart-info {
				color: rgba(255, 255, 255, 0.8)
			}
			.et_close_search_field:after {
				color: rgba(255, 255, 255, 0.8) !important
			}
			.et_search_form_container input::-moz-placeholder {
				color: rgba(255, 255, 255, 0.8)
			}
			.et_search_form_container input::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.8)
			}
			.et_search_form_container input:-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.8)
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'PT Sans Narrow', Helvetica, Arial, Lucida, sans-serif
		}
		body,
		input,
		textarea,
		select {
			font-family: 'PT Sans Narrow', Helvetica, Arial, Lucida, sans-serif
		}
		.et_pb_button {
			font-family: 'Arial', Helvetica, Arial, Lucida, sans-serif
		}
		#main-header,
		#et-top-navigation {
			font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif
		}
		.six-columns .et_pb_module {
			width: 16.66%;
			float: left
		}
		@media screen and (max-width:900px) {
			.six-columns .et_pb_module {
				width: 33.33%;
				float: left
			}
		}
		@media screen and (max-width:550px) {
			.six-columns .et_pb_module {
				width: 50%;
				float: left
			}
		}
		@media screen and (max-width:300px) {
			.six-columns .et_pb_module {
				width: 100%;
				float: left
			}
		}
		#footer-info {
			width: 100%;
			margin: 0 auto;
			text-align: center !important
		}
		.et_pb_scroll_top.et-pb-icon {
			bottom: 30px;
			background-color: #fcc012
		}
		#et-top-navigation .et_pb_button {
			margin-top: 0px;
			font-size: inherit;
			font-weight: inherit;
			color: #fcc012;
			border-color: #fcc012;
			background: transparent
		}
		#et-top-navigation .et_pb_button:hover {
			color: #fcc012 !important;
			border-color: #fcc012 !important;
			background: transparent !important;
			opacity: 1
		}
		#menu-item-50 a {
			padding-bottom: 0 !important
		}
		#menu-item-50 a:hover {
			color: #fcc012 !important;
			border-color: #fcc012 !important;
			background: transparent !important
		}
		#top-menu-nav #menu-item-50 a:hover {
			opacity: 1
		}
		.et_mobile_menu #menu-item-50 a:hover {
			border-bottom: none
		}
		.et_mobile_menu li a:hover {
			border-color: #fcc012
		}
		#et-top-navigation .et_pb_button:after {
			color: #fcc012
		}
		@media (max-width:980px) {
			.et_fixed_nav #main-header.et-fixed-header {
				position: fixed;
				background: rgba(38, 53, 68, 0.8);
				height: 55px
			}
			.et-fixed-header .logo_container {
				height: 55px
			}
			.et-fixed-header .mobile_menu_bar {
				padding-bottom: 5px
			}
			.et-fixed-header .mobile_menu_bar:before {
				font-size: 45px
			}
			.et_header_style_left .et-fixed-header #et-top-navigation {
				padding-top: 5px
			}
			.et_fixed_nav #et-top-navigation {
				-webkit-transition: none;
				-moz-transition: none;
				transition: none
			}
			#logo,
			.et-fixed-header #logo {
				max-height: 80%
			}
		}
		#et-info {
			float: none;
			text-align: center
		}
		#et-info-email:hover,
		#et-secondary-menu>ul>li>a:hover {
			opacity: 1
		}
		.et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
			width: 100%
		}
		@media (max-width:930px) {
			.et_pb_fullscreen .et_pb_fullwidth_header_container {
				width: 95%
			}
			.et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
				width: 100%;
				max-width: 1100px;
				margin: 20px auto
			}
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_header_content_wrapper {
				font-size: 20px !important;
				font-weight: 500 !important;
				line-height: 1.3em !important
			}
			#top-header .container {
				width: 100%
			}
			#top-header a {
				font-size: 13px !important
			}
		}
		@media only screen and (min-width:981px) {
			.et_header_style_left .et-fixed-header #et-top-navigation,
			.et_header_style_split .et-fixed-header #et-top-navigation {
				padding: 13px 0 0 0
			}
		}
		.align-bottom-column .et_pb_text {
			position: absolute;
			bottom: -60px;
			left: 0;
			right: 0;
			margin: auto
		}
		.ds-vertical-align {
			display: flex;
			flex-direction: column;
			justify-content: center
		}
		.et_pb_row {
			width: 90%
		}
		.et_pb_button {
			padding: 0.4em 1.6em
		}
		.et_pb_button:hover,
		.et_pb_module .et_pb_button:hover {
			padding: 0.4em 2.6em 0.4em 1.6em;
			border: 2px solid transparent
		}
		#featured-price-col {
			margin-top: -75px
		}
		@media only screen and (max-width:928px) {
			#featured-price-col {
				margin-top: 0
			}
		}
		#top-header {
			z-index: 9
		}
		#main-header {
			transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s
		}
		#main-header.et-fixed-header {
			top: 0 !important
		}
		.widget_search input#s,
		.widget_search input#searchsubmit {
			border: 1px solid #148CF2;
			color: #000
		}
		.widget_search #searchsubmit {
			background-color: #148CF2
		}
		#recent-posts-2 h4 {
			font-size: 22px;
			color: #148CF2;
			font-weight: bold
		}
		#categories-2 h4 {
			font-size: 22px;
			color: #148CF2;
			font-weight: bold
		}
		#meta-2 h4 {
			font-size: 22px;
			color: #148CF2;
			font-weight: bold
		}
		#main-content .container:before {
			display: none
		}
		.widget_search input#searchsubmit {
			color: #fff;
			font-weight: bold
		}
		.et_pb_post .entry-title {
			margin-top: 20px
		}
		.nav li ul {
			width: 165px;
			white-space: nowrap
		}
		#top-menu li li {
			padding: 0px 18px
		}
		#main-header .nav li ul {
			left: -25px
		}
		#top-menu li li a {
			width: 68px
		}
		.caldera-grid .alert-success {
			background-color: transparent;
			color: #666
		}
		input.form-control.parsley-success,
		select.form-control.parsley-success,
		textarea.form-control.parsley-success {
			color: #666;
			background-color: transparent
		}
		#catapult-cookie-bar {
			font-size: 14px;
			line-height: normal
		}
.et_pb_section_0 {
				background-image: radial-gradient(49% 124%, #ffffff 55%, rgba(38, 53, 68, 0.45) 100%) !important
			}
			.et_pb_blurb_8.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_cta_0.et_pb_promo p {
				line-height: 1.8em
			}
			.et_pb_cta_0.et_pb_promo h2,
			.et_pb_cta_0.et_pb_promo h1.et_pb_module_header,
			.et_pb_cta_0.et_pb_promo h3.et_pb_module_header,
			.et_pb_cta_0.et_pb_promo h4.et_pb_module_header,
			.et_pb_cta_0.et_pb_promo h5.et_pb_module_header,
			.et_pb_cta_0.et_pb_promo h6.et_pb_module_header {
				font-size: 35px !important;
				line-height: 1.8em !important
			}
			.et_pb_divider_1:before {
				border-top-color: #fcc012;
				border-top-width: 3px;
				width: auto;
				top: 0px;
				right: 0px;
				left: 0px
			}
			.et_pb_divider_1 {
				max-width: 100px;
				padding-bottom: 0px;
				margin-bottom: 20px !important;
				height: 5px
			}
			.et_pb_text_1 {
				max-width: 710px;
				margin-bottom: 10px !important
			}
			.et_pb_text_1 h2 {
				font-size: 35px;
				letter-spacing: 1px;
				line-height: 1.5em
			}
			.et_pb_text_1 h1 {
				font-size: 36px;
				color: #1f1f1f !important
			}
			.et_pb_section_2.et_pb_section {
				background-color: #f7f7f7 !important
			}
			.et_pb_blurb_8.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_section_3 {
				padding-top: 0px;
				padding-bottom: 0px
			}
			.et_pb_blurb_8.et_pb_blurb h4,
			.et_pb_blurb_8.et_pb_blurb h4 a,
			.et_pb_blurb_8.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_8.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_8.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_8.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_8.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_8.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_8.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_8.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_8.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_8.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_column_9 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_7.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_blurb_7.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_7.et_pb_blurb h4,
			.et_pb_blurb_7.et_pb_blurb h4 a,
			.et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
				font-weight: 700;
				font-size: 40px;
				line-height: 1.4em
			}
			.et_pb_blurb_6.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_blurb_6.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_6.et_pb_blurb h4,
			.et_pb_blurb_6.et_pb_blurb h4 a,
			.et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_cta_0.et_pb_promo {
				font-size: 22px;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_section_4 {
				padding-top: 0px;
				padding-bottom: 0px
			}
			.et_pb_row_3.et_pb_row {
				padding-top: 30px
			}
			.et_pb_text_2.et_pb_text {
				color: #fcc012 !important
			}
			.et_pb_text_4 {
				font-weight: 700;
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.4em;
				margin-bottom: 8px !important
			}
			.et_pb_text_4 p {
				line-height: 1.4em
			}
			.et_pb_text_4.et_pb_text {
				color: #fcc012 !important
			}
			.et_pb_text_3 {
				font-size: 15px;
				letter-spacing: 1px;
				line-height: 2.2em;
				padding-top: 0px !important
			}
			.et_pb_text_3 p {
				line-height: 2.2em
			}
			.et_pb_text_3.et_pb_text {
				color: #ffffff !important
			}
			.et_pb_text_2 {
				font-weight: 700;
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.4em;
				margin-bottom: 8px !important
			}
			.et_pb_text_2 p {
				line-height: 1.4em
			}
			.et_pb_blurb_11 .et-pb-icon {
				font-size: 28px
			}
			.et_pb_section_4.et_pb_section {
				background-color: #263544 !important
			}
			.et_pb_blurb_11.et_pb_blurb {
				font-size: 15px
			}
			.et_pb_blurb_11.et_pb_blurb h4,
			.et_pb_blurb_11.et_pb_blurb h4 a,
			.et_pb_blurb_11.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_11.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_11.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_11.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_11.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_11.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_11.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_11.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_11.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_11.et_pb_blurb h6.et_pb_module_header a {
				font-size: 15px
			}
			.et_pb_blurb_10 .et-pb-icon {
				font-size: 28px
			}
			.et_pb_blurb_10.et_pb_blurb {
				font-size: 15px
			}
			.et_pb_blurb_10.et_pb_blurb h4,
			.et_pb_blurb_10.et_pb_blurb h4 a,
			.et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header a {
				font-size: 15px
			}
			.et_pb_blurb_9 .et-pb-icon {
				font-size: 28px
			}
			.et_pb_blurb_9.et_pb_blurb {
				font-size: 15px
			}
			.et_pb_image_0 {
				padding-bottom: 1%;
				margin-left: 0
			}
			.et_pb_row_5.et_pb_row {
				padding-top: 48px;
				padding-bottom: 50px
			}
			.et_pb_column_7 {
				background-color: #f7f7f7
			}
			.et_pb_column_8 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_5.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_section_1 {
				padding-top: 60px;
				padding-bottom: 80px
			}
			.et_pb_column_1 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_5.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_divider_0:before {
				border-top-color: #fcc012;
				border-top-width: 3px;
				width: auto;
				top: 0px;
				right: 0px;
				left: 0px
			}
			.et_pb_divider_0 {
				max-width: 100px;
				padding-bottom: 20px;
				margin-bottom: 20px !important;
				height: 5px
			}
			.et_pb_text_0 {
				margin-bottom: 10px !important
			}
			.et_pb_text_0 h2 {
				font-size: 35px;
				letter-spacing: 1px;
				line-height: 1.5em
			}
			.et_pb_text_0 h1 {
				font-size: 36px;
				color: #1f1f1f !important
			}
			.et_pb_row_0.et_pb_row {
				padding-bottom: 0px
			}
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_fullwidth_header_scroll a .et-pb-icon {
				color: #fcc012;
				font-size: 48px
			}
			.et_pb_blurb_0.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:after {
				color: #000000;
				line-height: 1.7em;
				font-size: 16px !important;
				opacity: 0;
				margin-left: -1em;
				left: auto;
				display: inline-block
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover:after {
				margin-left: .3em;
				left: auto;
				margin-left: .3em;
				opacity: 1
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover {
				color: #000000 !important;
				background: rgba(252, 192, 18, 0.9) !important;
				border-color: rgba(252, 192, 18, 0.9) !important;
				letter-spacing: 2px;
				padding-left: 0.7em;
				padding-right: 2em
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button {
				color: #000000 !important;
				background: #fcc012;
				border-color: #fcc012;
				font-size: 16px;
				background-color: #fcc012
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:before,
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:after {
				display: none !important
			}
			.et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button,
			.et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover {
				padding: 0.3em 1em !important
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover {
				color: #6eba01 !important;
				background: #ffffff !important;
				border-color: #ffffff !important;
				border-radius: 0px;
				letter-spacing: 2px;
				padding-left: 0.7em;
				padding-right: 2em
			}
			body #page-container .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button {
				border-color: #ffffff;
				border-radius: 0px;
				font-size: 16px;
				font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
				text-transform: uppercase !important
			}
			.et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_header_content_wrapper {
				font-size: 22px;
				line-height: 1.8em
			}
			.et_pb_blurb_0.et_pb_blurb h4,
			.et_pb_blurb_0.et_pb_blurb h4 a,
			.et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_row_1.et_pb_row {
				padding-top: 30px
			}
			.et_pb_blurb_0.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_row_2.et_pb_row {
				padding-top: 30px
			}
			.et_pb_blurb_5.et_pb_blurb h4,
			.et_pb_blurb_5.et_pb_blurb h4 a,
			.et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_column_6 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_4.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_blurb_4.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_4.et_pb_blurb h4,
			.et_pb_blurb_4.et_pb_blurb h4 a,
			.et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_column_5 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_3.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_blurb_3.et_pb_blurb h4,
			.et_pb_blurb_3.et_pb_blurb h4 a,
			.et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_column_4 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_3.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_2.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_blurb_1.et_pb_blurb .et_pb_main_blurb_image {
				margin-bottom: 10px
			}
			.et_pb_column_2 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_2.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_1.et_pb_blurb {
				padding-top: 30px !important;
				padding-right: 10px !important;
				padding-bottom: 30px !important;
				padding-left: 10px !important
			}
			.et_pb_blurb_1.et_pb_blurb h4,
			.et_pb_blurb_1.et_pb_blurb h4 a,
			.et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			.et_pb_column_3 {
				background-color: #f7f7f7
			}
			.et_pb_blurb_2.et_pb_blurb h4,
			.et_pb_blurb_2.et_pb_blurb h4 a,
			.et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header,
			.et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header a,
			.et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header,
			.et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header a,
			.et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header,
			.et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header a,
			.et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header,
			.et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header a,
			.et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header,
			.et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header a {
				font-weight: 700;
				font-size: 22px;
				color: #1f1f1f !important;
				letter-spacing: 1px;
				line-height: 1.8em
			}
			ul.et_pb_social_media_follow_0 {
				margin-top: 30px !important;
				margin-bottom: 30px !important
			}
			.et_pb_social_media_follow_network_0 a.icon {
				background-color: #3b5998 !important
			}
			.et_pb_social_media_follow_network_0 {
				margin-right: 10px !important
			}
			.et_pb_social_media_follow_network_1 a.icon {
				background-color: #00aced !important
			}
			.et_pb_social_media_follow_network_1 {
				margin-right: 10px !important
			}
			.et_pb_social_media_follow_network_2 a.icon {
				background-color: #a82400 !important
			}
			.et_pb_social_media_follow_network_2 {
				margin-right: 0px !important
			}
			.et_pb_social_media_follow_network_3 a.icon {
				background-color: #007bb6 !important
			}
			.et_pb_social_media_follow_network_3 {
				margin-right: 0px !important
			}
			.et_pb_divider_0.et_pb_module {
				margin-left: auto !important;
				margin-right: auto !important
			}
			.et_pb_text_1.et_pb_module {
				margin-left: auto !important;
				margin-right: auto !important
			}
			.et_pb_divider_1.et_pb_module {
				margin-left: auto !important;
				margin-right: auto !important
			}
			.et_pb_cta_0.et_pb_promo.et_pb_module {
				margin-left: auto !important;
				margin-right: auto !important
			}
			@media only screen and (min-width:981px) {
				.et_pb_cta_0 {
					max-width: 80%;
					margin: 0 auto
				}
			}
			@media only screen and (max-width:980px) {
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
					font-size: 35px
				}
				.et_pb_cta_0 {
					max-width: 90%;
					margin: 0 auto
				}
			}
			@media only screen and (max-width:767px) {
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
				.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
					font-size: 32px
				}
				.et_pb_text_0 h2 {
					font-size: 30px
				}
			}
			.services-section .et_pb_column:hover {
				background: #eee;
				transition: all 0.5s
			}
			.steps-section .et_pb_column:hover {
				background: #f7f7f7;
				transition: all 0.5s
			}

			.et_pb_section_9.et_pb_section {
			background-color: #263544 !important;
			font-size : 30px;
		}

		.et_pb_text_inner{
			font-size:20px;
		}