<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
	<% include ../partials/head.ejs %>
</head>

<body class="page-template-default page page-id-420 ctcc-exclude-AF divi-100-article-card et_monarch et_button_custom_icon et_pb_button_helper_class et_transparent_nav et_fullwidth_nav et_fullwidth_secondary_nav et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">

		<header id="main-header" data-height-onload="66">
			<% include ../partials/header %>
		</header>
		<!-- #main-header -->

		<div id="et-main-area">

			<div id="main-content">


				<article id="post-420" class="post-420 page type-page status-publish hentry">


					<div class="entry-content">
						<div class="et_pb_section et_pb_section_parallax et_pb_fullwidth_section  et_pb_section_0 et_section_regular">



							<section class=" et_pb_module et_pb_text_align_center et_animated et_pb_fullwidth_header_0 et_pb_header_with_image">



								<picture>
									<img src="./images/brainstorming_gray_blured.png" class="sp-no-webp" style="width:100%;height:40%">
								</picture>
							</section>

						</div>
						<!-- .et_pb_section -->
						<div id="services-section" class="et_pb_section  et_pb_section_1 et_section_regular">

							<div class=" et_pb_row et_pb_row_0">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_0 et-last-child">


									<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_text_0">


										<div class="et_pb_header_content_wrapper">
											<h2>We’re a purpose-driven consulting firm that helps companies solve business problems and build for the future</h2>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_space et_pb_divider et_animated et_pb_divider_0 et_pb_divider_position_">
										<div class="et_pb_divider_internal"></div>
									</div>
								</div>
								<!-- .et_pb_column -->


							</div>

							<div class=" et_pb_row et_pb_row_0">

								<div class="et_pb_text_inner">

									<p>The world is changing—fast. To keep pace, companies need to find new ways to disrupt the status quo, get to market
										faster, create experiences their customers love, and build operational muscle for sustainable results.</p>
									<p>
										Rising to those challenges demands a fresh approach to problem solving. That’s where Slalom comes in. We’re a purpose-driven
										consulting firm that helps companies solve business problems and build for the future, with advisory, customer
										exprience, technology, and analytics.</p>
									<p>We’re a team of thinkers, makers, and doers that came from enterprises, consultancies, agencies, and startups—all
										attracted by the promise of loving work and life. Our teams are deeply connected and bring their shared experiences
										and insights across industries, disciplines, and markets to each and every engagement.</p>
									<br>
									<h2>Here’s our promise:</h2>
									<p>
										<h3>We’ll help you find your why.</h3>
										Purpose is the heartbeat of your business. We’ll challenge you to clarify your unique values, beliefs, and the impact you
										seek to make and use that to guide our work together.</p>


									<p>
										<h3>We’ll help you embrace change</h3>
										Meaningful change is realized with a connected team that’s aligned around a shared vision and relentless in its pursuit.
										We’ll help you start learning by doing, and build the confidence and discipline to gain momentum and keep moving
										forward, one step at a time.
									</p>
									<p>
										<h3>We’re in this together.</h3>
										Partner is a verb we live every day. We’re passionate about your success and dedicated to making your business better and
										stronger than it is today. Our style is collaborative, agile, and flexible to meet the needs of your people, processes,
										and technologies.
									</p>
									<p>
										<h3>We’ll design and build the solution that’s right for you.</h3>
										One size doesn’t fit all. We’ll work with your teams to build sustainable solutions, purpose-built for you. We’re agile natives
										with a fast and flexible approach that translates to quicker outcomes and faster time-to-market.
									</p>



								</div>

							</div>
							<!-- .et_pb_row -->
						</div>
						<!-- .et_pb_section -->
						<div class="et_pb_section  et_pb_section_3 et_pb_with_background et_section_regular">


							<div class=" et_pb_row et_pb_row_4">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_10 et-last-child">


									<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_text_1">


										<div class="et_pb_text_inner">
											<h2>Ready to get started?</h2>
											<a href="./contact" class="et_pb_more_button et_pb_button et_pb_button_one et_pb_custom_button_icon" data-icon="&#x24;">Let's Talk</a>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_space et_pb_divider et_animated et_pb_divider_1 et_pb_divider_position_">
										<div class="et_pb_divider_internal"></div>
									</div>
									<div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_0 et_pb_no_bg">




									</div>
								</div>
								<!-- .et_pb_column -->


							</div>
							<!-- .et_pb_row -->

						</div>

						<% include ../partials/info %>
				</article>
				</div>

				<span class="et_pb_scroll_top et-pb-icon"></span>
				
				<footer id="main-footer">
					<% include ../partials/footer %>
				</footer>
				<!-- #main-footer -->
			</div>
			<!-- #et-main-area -->


		</div>
		<!-- #page-container -->

		<script type="text/javascript">
			var et_animation_data = [{ "class": "et_pb_fullwidth_header_0", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_0", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_2", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_3", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_4", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_5", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_6", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_7", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_8", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_1", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_9", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_10", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_11", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }];
		</script>

		<script type='text/javascript' src='./js/customeFullWidthHeader/dwd-fhe-custom.js'></script>


		<script type='text/javascript'>
			/* <![CDATA[ */
			var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
			var et_pb_custom = { "ajaxurl": "https:\/\/luminex.com\/wp-admin\/admin-ajax.php", "images_uri": "https:\/\/luminex.com\/wp-content\/themes\/Divi\/images", "builder_images_uri": "https:\/\/Luminex.com\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "c9f50695f2", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "7e924fe5b5", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "420", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
			var et_pb_box_shadow_elements = [];
/* ]]> */
		</script>
		<script type='text/javascript' src='./js/custom.min.js'></script>
		<script type='text/javascript' src='./js/articleCard/scripts.js'></script>
		<script type='text/javascript' src='./js/monarch/idle-timer.min.js'></script>

		<script type='text/javascript' src='./js/monarch/custom.js'></script>
		<script type='text/javascript' src='./js/monarch/common.js'></script>
</body>

</html>