<html lang="en-US" prefix="og: http://ogp.me/ns#">


<head>
	<% include ../partials/head %>
</head>

<body class="home page-template-default page page-id-47 ctcc-exclude-AF divi-100-article-card et_monarch et_button_custom_icon et_pb_button_helper_class et_transparent_nav et_fullwidth_nav et_fullwidth_secondary_nav et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">

		<header id="main-header" data-height-onload="66">
			<% if(language == "en") {%>
				<% include ../partials/en/header %>
			<% } else { %>
				<% include ../partials/ar-sa/header %>
			<% }%>
		</header>
		<!-- #main-header -->

		<div id="et-main-area">

			<div id="main-content">

				<article id="post-47" class="post-47 page type-page status-publish has-post-thumbnail hentry">
					<div class="entry-content">
						<div class="et_pb_section et_pb_section_parallax et_pb_fullwidth_section  et_pb_section_0 et_pb_with_background et_section_regular">
							<div class="et_parallax_bg" style="background-image: url(./images/developing-programming-coding-technologies-website-design-grayed_1_blured.png);width:100%; heigth:100%"></div>

							<section class="dwd-fwe et_pb_fullwidth_header et_pb_fullscreen et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_fullwidth_header_extended_0 et_pb_header_with_image et_pb_typing_effect dwd-typing-static dwd-wider-mobile">

								<div class="et_pb_fullwidth_header_container center">
									<div class="header-content-container center ">
										<div class="header-content">
											<div class="et_pb_header_description" data-typing-speed=100 data-typing-delay=0 data-typing-backdelay=1500 data-typing-loop=true
											 data-typing-cursor=false>

												<% if(language == "en") {%>
													<% include ../partials/en/index/title %>
												<% } else { %>
													<% include ../partials/ar-sa/index/title %>
												<% }%>

													<span class="dwd-typing"></span>
													<span class="dwd-aftertext"></span>
												</h1>
												<hr class="fancyline fancyline_after fancyline_text_center"></hr>

											</div>
										</div>
									</div>
								</div>
								<div class="et_pb_fullwidth_header_gradient"></div>
								<div class="et_pb_fullwidth_header_overlay"></div>
								<div class="et_pb_fullwidth_header_scroll"></div>
							</section>
						</div>
						<!-- .et_pb_section -->
						<div class="et_pb_section  et_pb_section_1 et_pb_with_background et_section_regular">
							<div class=" et_pb_row et_pb_row_0">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_0 et-last-child">


									<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_text_0">


										<div class="et_pb_text_inner">
											<h1>
												<span style="font-weight: 400;">
													<% if(language == "en") {%>
														<% include ../partials/en/index/tagline %>
													<% } else { %>
														<% include ../partials/ar-sa/index/tagline %>
													<% }%>
												</span>
											</h1>
										</div>
									</div>
									<!-- .et_pb_text -->
								</div>
							</div>
							<!-- .et_pb_row -->
							<div id="services-icon-row" class="services et_pb_row et_pb_row_1 et_pb_equal_columns">
								<div class="et_pb_column et_pb_column_1_3  et_pb_column_1">


									<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_blurb_0 et_pb_blurb_position_top">


										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<picture>
													<source srcset="/images/global-reach-icon-1.png">
													<img src="/images/developing-programming-coding-technologies-website-design-grayed.png" alt="Global Reach Icon" class="et-waypoint et_pb_animation_top sp-no-webp"
													 style="width:100%">
												</picture>
											</div>
											<div class="et_pb_blurb_container">
												<% if(language == "en") {%>
													<% include ../partials/en/index/card1 %>
												<% } else { %>
													<% include ../partials/ar-sa/index/card1 %>
												<% }%>
											</div>
										</div>
									</div>
								</div>

								<div class="et_pb_column et_pb_column_1_3  et_pb_column_2">
									<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_blurb_1 et_pb_blurb_position_top">

										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<img src="./images/smart-search-icon-1.png" alt="Smart Search Icon" class="et-waypoint et_pb_animation_top sp-no-webp et-animated">
											</div>
											<div class="et_pb_blurb_container">
												<% if(language == "en") {%>
													<% include ../partials/en/index/card2 %>
												<% } else { %>
													<% include ../partials/ar-sa/index/card2 %>
												<% }%>
											</div>
										</div>
									</div>
								</div>

								<div class="et_pb_column et_pb_column_1_3  et_pb_column_3 et-last-child">

									<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_center et_animated et_pb_blurb_2 et_pb_blurb_position_top">

										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image">
												<picture>
													<source srcset="./images/team-collaboration-icon.webp" type="image/webp">
													<source srcset="./images/team-collaboration-icon.png">
													<img src="./images/team-collaboration-icon.png" alt="Talent Management Icon" class="et-waypoint et_pb_animation_top sp-no-webp">
												</picture>
											</div>
											<div class="et_pb_blurb_container">
												<% if(language == "en") {%>
													<% include ../partials/en/index/card3%>
												<% } else { %>
													<% include ../partials/ar-sa/index/card3 %>
												<% }%>
												<!-- .et_pb_blurb_description -->
											</div>
										</div>
										<!-- .et_pb_blurb_content -->
									</div>
									<!-- .et_pb_blurb -->
								</div>
								<!-- .et_pb_column -->

							</div>
							<!-- .et_pb_row -->
							<div class=" et_pb_row et_pb_row_2">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_4 et-last-child">
									<div class="et_pb_button_module_wrapper et_pb_module">
										<a class="et_pb_button et_animated et_pb_button_0 et_pb_module et_pb_bg_layout_light" href="./contact">Get started</a>
									</div>
								</div>
							</div>
						</div>

						<div class="et_pb_section  et_pb_section_5 et_section_regular">
							<div class=" et_pb_row et_pb_row_6">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_11 et-last-child">
									<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_1">
										<div class="et_pb_text_inner">
											<p>Hear from our customers</p>
										</div>
									</div>
									<!-- .et_pb_text -->
									<div class="et_pb_module et_pb_space et_pb_divider et_animated et_pb_divider_0 et_pb_divider_position_">
										<div class="et_pb_divider_internal"></div>
									</div>
								</div>
								<!-- .et_pb_column -->


							</div>
							<!-- .et_pb_row -->
							<div class=" et_pb_row et_pb_row_7 et_pb_gutters2 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_4_4  et_pb_column_12 et-last-child">


									<div id="testimonials-slider" class="et_pb_module et_pb_slider et_pb_slider_fullwidth_off et_pb_slider_no_pagination et_pb_slider_no_shadow  et_pb_slider_0">
										<div class="et_pb_slides">
											<div class="et_pb_slide et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_0 et-pb-active-slide">
												<div class="et_pb_container clearfix">
													<div class="et_pb_slider_container_inner">

														<div class="et_pb_slide_description">

															<div class="et_pb_slide_content et-hide-mobile">
																<% if(language == "en") {%>
																	<% include ../partials/en/index/testimonial1%>
																<% } else { %>
																	<% include ../partials/ar-sa/index/testimonial1 %>
																<% }%>
															</div>

														</div>
														<!-- .et_pb_slide_description -->
													</div>
												</div>
												<!-- .et_pb_container -->

											</div>

											<div class="et_pb_slide et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_1">


												<div class="et_pb_container clearfix">
													<div class="et_pb_slider_container_inner">

														<div class="et_pb_slide_description">

															<div class="et_pb_slide_content et-hide-mobile">
																<% if(language == "en") {%>
																	<% include ../partials/en/index/testimonial2 %>
																<% } else { %>
																	<% include ../partials/ar-sa/index/testimonial2 %>
																<% }%>
															</div>
														</div>
														<!-- .et_pb_slide_description -->
													</div>
												</div>
												<!-- .et_pb_container -->

											</div>
											<!-- .et_pb_slide -->

										</div>
										<!-- .et_pb_slides -->
									</div>
									<!-- .et_pb_slider -->

								</div>
								<!-- .et_pb_column -->
							</div>
							<!-- .et_pb_row -->

						</div>
						<!-- .et_pb_section -->

						
						<% include ../partials/en/info %>
					</div>
				</article>
			</div>

			<span class="et_pb_scroll_top et-pb-icon"></span>

			<footer id="main-footer">
				<% include ../partials/en/footer %>
			</footer>
		</div>
	</div>

	<script>
		var et_animation_data = [{ "class": "et_pb_text_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "100ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_2", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "300ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_button_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_cta_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "15%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_cta_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "15%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_cta_2", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "15%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_0", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_button_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_2", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_3", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_1", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_3", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_4", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_5", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }];
	</script>
	<link rel='stylesheet' id='et-builder-googlefonts-css' href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700|PT+Sans:regular,italic,700,700italic&#038;subset=latin,latin-ext'
	 type='text/css' media='all' />
	<script type='text/javascript' src='../js/customeFullWidthHeader/dwd-fhe-custom.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
		var et_pb_custom = { "ajaxurl": "https:\/\/luminex.com\/wp-admin\/admin-ajax.php", "images_uri": "https:\/\/luminex.com\/wp-content\/themes\/Divi\/images", "builder_images_uri": "https:\/\/luminex.com\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "c9f50695f2", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "7e924fe5b5", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "420", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
		var et_pb_box_shadow_elements = [];
/* ]]> */
	</script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var ctcc_vars = { "expiry": "30", "method": "", "version": "1" };
/* ]]> */
	</script>

	<script type='text/javascript'>
		/* <![CDATA[ */
		var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
		var et_pb_box_shadow_elements = [];
/* ]]> */
	</script>
	<script type='text/javascript' src='../js/custom.min.js'></script>
	<script type='text/javascript' src='../js/articleCard/scripts.js'></script>
	<script type='text/javascript' src='../js/monarch/idle-timer.min.js'></script>

	<script type='text/javascript' src='../js/monarch/custom.js'></script>
	<script type='text/javascript' src='../js/monarch/common.js'></script>




	<script type='text/javascript' src='../js/customeFullWidthHeader/animation-load.js'></script>
	<script type='text/javascript' src='../js/customeFullWidthHeader/typed.js'></script>
	<script type='text/javascript' src='../js/customeFullWidthHeader/dwd-typing.js'></script>
	<script type='text/javascript' src='../js/customeFullWidthHeader/magnific-popup-start.js'></script>

	</div>
	<!-- #catapult-cookie-bar -->
</body>

</html>