<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
	<% include ../partials/head %>
</head>

<body class="page-template-default page page-id-420 ctcc-exclude-AF divi-100-article-card et_monarch et_button_custom_icon et_pb_button_helper_class et_transparent_nav et_fullwidth_nav et_fullwidth_secondary_nav et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">



		<header id="main-header" data-height-onload="66">
			<% if(language == "en") {%>
				<% include ../partials/en/header %>
			<% } else { %>
				<% include ../partials/ar-sa/header %>
			<% }%>
		</header>
		<!-- #main-header -->

		<div id="et-main-area">

			<div id="main-content">

				<article id="post-420" class="post-420 page type-page status-publish hentry">
					<div class="entry-content">
						<div id="industries-section" class="et_pb_section  et_pb_section_1 et_section_regular">

							<div class=" et_pb_row et_pb_row_0">
								<% if(language == "en") {%>
									<% include ../partials/en/tos/content %>
								<% } else { %>
									<% include ../partials/ar-sa/tos/content %>
								<% }%>
							</div>
							<!-- .et_pb_row -->
						</div>

					</div>
					<!-- .entry-content -->


				</article>
				<!-- .et_pb_post -->



			</div>
			<!-- #main-content -->




			<footer id="main-footer">
				<div id="footer-bottom">
					<div class="container clearfix">
						<div id="footer-info">© 2018 Luminex GmbH</div>
					</div>
					<!-- .container -->
				</div>
			</footer>
			<!-- #main-footer -->
		</div>
		<!-- #et-main-area -->


	</div>
	<!-- #page-container -->

	<script type="text/javascript">
		var et_animation_data = [{ "class": "et_pb_fullwidth_header_0", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_0", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_0", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_2", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_3", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_4", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_5", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_6", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_7", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_8", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "30%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_text_1", "style": "foldBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "20%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_divider_1", "style": "slideBottom", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_9", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_10", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }, { "class": "et_pb_blurb_11", "style": "fade", "repeat": "once", "duration": "1000ms", "delay": "0ms", "intensity": "50%", "starting_opacity": "0%", "speed_curve": "ease-in-out" }];
	</script>
	<link rel='stylesheet' id='et-builder-googlefonts-css' href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700|PT+Sans:regular,italic,700,700italic|Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&#038;subset=latin,latin-ext'
	 type='text/css' media='all' />
	<script type='text/javascript' src='../js/customeFullWidthHeader/dwd-fhe-custom.js'></script>


	<script type='text/javascript'>
		/* <![CDATA[ */
		var et_shortcodes_strings = { "previous": "Previous", "next": "Next" };
		var et_pb_custom = { "ajaxurl": "https:\/\/luminex.com\/wp-admin\/admin-ajax.php", "images_uri": "https:\/\/luminex.com\/wp-content\/themes\/Divi\/images", "builder_images_uri": "https:\/\/Luminex.com\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "c9f50695f2", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "7e924fe5b5", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "420", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
		var et_pb_box_shadow_elements = [];
/* ]]> */
	</script>
	<script type='text/javascript' src='../js/custom.min.js'></script>
	<script type='text/javascript' src='../js/articleCard/scripts.js'></script>
	<script type='text/javascript' src='../js/monarch/idle-timer.min.js'></script>

	<script type='text/javascript' src='../js/monarch/custom.js'></script>
	<script type='text/javascript' src='../js/monarch/common.js'></script>
</body>

</html>