<h2 class="et_pb_slide_title">"Luminex will win you over through ease of operation and excellent results."</h2>
<p>
	<strong>Soujanya Medapati</strong>
</p>
<p style="color: #99c3eb; font-size: 16px; margin-top: -20px; font-weight: 400;">CEO, Glitter Events</p>