<!-- views/partials/head.ejs -->

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="pingback" href="https://luminex.com/xmlrpc.php" />

<title><%= title %></title>
<link rel="alternate" hreflang="en" href="https://Luminex.com/en/" />
<link rel="alternate" hreflang="de" href="https://Luminex.com/de/" />

<!-- This site is optimized with the Yoast SEO plugin v7.5.3 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="You've got a vision. Let's bring it to Life" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home - Luminex" />
<meta property="og:description" content="You've got a vision. Let's bring it to Life" />
<meta property="og:url" content="https://Luminex.com/en/" />
<meta property="og:site_name" content="Luminex" />
<meta property="og:image" content="./images/Luminex_og.png" />
<meta property="og:image:secure_url" content="./images/Luminex_og.png" />
<meta property="og:image:width" content="320" />
<meta property="og:image:height" content="320" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="You've got a vision. Let's bring it to Life" />
<meta name="twitter:title" content="Home - Luminex" />
<meta name="twitter:image" content="./images/Luminex_og.png" />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />

<link rel='stylesheet' id='customeFullWidthHeader-css' href='css/customeFullWidthHeader/dwd-fullwidth-header.css' type='text/css' media='all' />
<link rel='stylesheet' id='dwd-animate-css' href='css/customeFullWidthHeader/animate.css' type='text/css' media='all' />

<link rel='stylesheet' id='custom-article-cards-css' href='css/articleCard/style.css' type='text/css' media='all' />

<style type='text/css'>
	.divi-100-article-card .et_pb_blog_grid .article-card__category,
	.divi-100-article-card .et_pb_blog_grid .article-card__date {
		background-color: #2b91dc;
	}

	.divi-100-article-card .et_pb_blog_grid .article-card__sub-title {
		color: #2b91dc;
	}

	img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 .07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
</style>

<link rel='stylesheet' id='et-gf-open-sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css'
 media='all' />
<link rel='stylesheet' id='et_monarch-css-css' href='css/monarch/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='divi-style-css' href='css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css' href='css/dashicons.min.css' type='text/css' media='all' />

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-migrate.min.js'></script>


<script>
var spPicTest = document.createElement("picture"); 

if (!window.HTMLPictureElement && document.addEventListener) { 
	window.addEventListener("DOMContentLoaded", function () { 
		var scriptTag = document.createElement("script"); 
		scriptTag.src = "css/picturefill.min.js"; 
		document.body.appendChild(scriptTag); }); 
}

</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="google-site-verification" content="0atdCOTdmWYAic16926JVls0ArskBYTA1qx9_KHCRlY" />
<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
 crossorigin="anonymous">

<link rel="icon" href="images/Luminex-favicon.png" sizes="32x32" />
<link rel="icon" href="images/Luminex-favicon.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="images/Luminex-favicon.png" />
<meta name="msapplication-TileImage" content="images/Luminex-favicon.png" />

<style id="ctcc-css" type="text/css" media="screen">
	#catapult-cookie-bar {
		box-sizing: border-box;
		max-height: 0;
		opacity: 0;
		z-index: 99999;
		overflow: hidden;
		color: #f2f2f2;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #465362;
	}

	#catapult-cookie-bar a {
		color: #ffc107;
	}

	#catapult-cookie-bar .x_close span {
		background-color: #000000;
	}

	button#catapultCookie {
		background: #ffc107;
		color: #000000;
		border: 0;
		padding: 6px 9px;
		border-radius: 3px;
	}

	#catapult-cookie-bar h3 {
		color: #f2f2f2;
	}

	.has-cookie-bar #catapult-cookie-bar {
		opacity: 1;
		max-height: 999px;
		min-height: 30px;
	}
</style>

<link rel="stylesheet" href=<%= css %> />
