<div class="et_pb_section  et_pb_section_9 et_pb_with_background et_section_regular">

	<div class=" et_pb_row et_pb_row_11 et_pb_gutters2">
		<div class="et_pb_column et_pb_column_1_2  et_pb_column_17">

			<div class="et_pb_module et_pb_image et_pb_image_5 et_always_center_on_mobile">
				<span class="et_pb_image_wrap">
					<picture>
						<source srcset="./images/tw-logo-white300.webp" type="image/webp">
						<source srcset="./images/tw-logo-white300.png">
						<img src="./images/tw-logo-white300.png" alt="" class="sp-no-webp">
					</picture>
				</span>
			</div>

			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_4">
				<div class="et_pb_text_inner">
					<p>Offices</p>
				</div>
			</div>
			<!-- .et_pb_text -->

			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_3">
				<div class="et_pb_text_inner">
					<p>
						<span style="color: #ffffff;">
							<a style="color: #ffffff;" href="/contact" target="_blank" rel="noopener">Dallas, USA</a>
						</span>
						<br/>
						<span style="color: #ffffff;">
							<a style="color: #ffffff;" href="/contact">Riyadh, Saudi Arabia</a>
						</span>
					</p>
				</div>
			</div>

		</div>
		<!-- .et_pb_column -->

		<div class="et_pb_column et_pb_column_1_4  et_pb_column_18">

			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_4">
				<div class="et_pb_text_inner">
					<p>Company</p>
				</div>
			</div>
			<!-- .et_pb_text -->

			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_3">
				<div class="et_pb_text_inner">
					<p>
						<span style="color: #ffffff;">
							<a style="color: #ffffff;" href="/tos" target="_blank" rel="noopener">Terms Of Us</a>
						</span>
						<br />
						<span style="color: #ffffff;">
							<a style="color: #ffffff;" href="./contact">Contact Us</a>
						</span>
					</p>
				</div>
			</div>

			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_5"></div>
		</div>

		<div class="et_pb_column et_pb_column_1_4  et_pb_column_19 et-last-child">
			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_6">
				<div class="et_pb_text_inner">
					<p>Follow Us</p>
				</div>
			</div>

			<ul class="et_pb_social_media_follow et_pb_module et_pb_bg_layout_light  et_pb_social_media_follow_0 clearfix et_pb_text_align_left">
				<li class="et_pb_social_icon et_pb_social_network_link et-social-facebook et_pb_social_media_follow_network_0">
					<a href="" class="icon circle" title="Facebook" target="_blank">
						<span class="et_pb_social_media_follow_network_name">Facebook</span>
					</a>
				</li>

				<li class="et_pb_social_icon et_pb_social_network_link et-social-twitter et_pb_social_media_follow_network_1">
					<a href="" class="icon circle" title="Twitter" target="_blank">
						<span class="et_pb_social_media_follow_network_name">Twitter</span>
					</a>
				</li>

				<li class="et_pb_social_icon et_pb_social_network_link et-social-youtube et_pb_social_media_follow_network_2">
					<a href="" class="icon circle" title="Youtube" target="_blank">
						<span class="et_pb_social_media_follow_network_name">Youtube</span>
					</a>
				</li>

				<li class="et_pb_social_icon et_pb_social_network_link et-social-linkedin et_pb_social_media_follow_network_3">
					<a href="" class="icon circle" title="LinkedIn" target="_blank">
						<span class="et_pb_social_media_follow_network_name">LinkedIn</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>