<h2 class="et_pb_slide_title">"Lumiex helped us building scalable and state of the art vehicle tracking solution"</h2>
<p>
	<strong>Nur Reberto</strong>
</p>
<p style="color: #99c3eb; font-size: 16px; margin-top: -20px; font-weight: 400;">Head of developement at Prontotech</p>