<h4 class="et_pb_module_header">Internet of things</h4>
<div class="et_pb_blurb_description">
	<p>IoT offers us opportunity to be more efficient in how we do things, saving us time, money and often emissions
		in the process. From hairbrushes to scales, consumer and industrial devices are having chips inserted into
		them to collect and communicate data</p>
</div>